
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello World: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h>Welcome</h>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
   <section>
       <h1>@ViewBag.Title</h1>
       @RenderBody()
       <h3>@ViewBag.UserMessage</h3>
   </section>
    <footer>Copyrigtht 2017</footer>


    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)


</body>
</html>